.pageContainer {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.formContainer {
  background-color: #f3f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  width: 40rem;
  border-radius: 6px;
  padding: 2.5rem;
}

.formContainer input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1.5px solid #ededed;

  color: #8D8686;
  background-color: #ededed;

  font-size: 0.875rem;
  transition: border-color 0.2s ease-in-out;
}

.formContainer input:focus {
  border-color: var(--green-300);
}

.formContainer button {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;

  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  width: 100%;
  background-color: var(--green-400);
  color: var(--white);
  transition: background-color 0.2s ease-in-out;
}

.formContainer button:hover {
  background-color: var(--green-300);
}

