.pageContainer {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.formContainer {
  background-color: var(--base-card);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  width: 40rem;
  max-width: 90vw;
  border-radius: 6px;
  padding: 2.5rem;
}

@media screen and (max-width: 32rem) {
  .pageContainer h1 {
    font-size: 1.5rem;
  }

  .formContainer {
    padding: 2rem 1rem;
  }
}
