.form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form > label {
  cursor: pointer;
  font-size: 1.075rem;
}

.checkboxRoot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;

  cursor: pointer;
  background-color: var(--base-input);
  border: 2px solid var(--base-input);
  border-radius: 4px;
  transition: border-color 0.125s ease-in-out;
}

.checkboxRoot:focus {
  border-color: var(--green-300);
}

.checkboxRoot svg {
  color: var(--green-400);
}
