.customButton {
  cursor: pointer;

  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  width: 100%;

  text-transform: uppercase;
  text-align: center;
  font-size: 0.875rem;

  color: var(--white);
  background-color: var(--green-400);
  transition: background-color 0.2s ease-in-out;
}

.smallButton {
  width: fit-content;
}

.customButton:hover {
  background-color: var(--green-300);
}
