.pageContainer {
  flex: 1;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.pageContainer > form {
  width: 90%;
  display: flex;
  align-items: stretch;
  gap: 1rem;
}

.pageContainer > form input {
  flex: 1;
}

.listProducts {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.listProducts > h2 {
  font-size: 1.75rem;
}

.listProducts > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.error {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.error > h3 {
  font-size: 1rem;
  color: var(--warning);
}

.error > svg {
  color: var(--warning);
}

@media screen and (max-width: 36rem) {
  .listProducts > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 32rem) {
  .pageContainer h1 {
    font-size: 1.5rem;
  }

  .pageContainer > form {
    align-items: center;
    flex-direction: column;
  }

  .listProducts > h2 {
    font-size: 1.25rem;
  }
}
