.pageContainer {
  flex: 1;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pageContainer h1 {
  text-align: center;
  font-size: 3rem;
}

.pageContainer p {
  text-align: center;
  font-size: 1.2rem;
  color: var(--green-400);
}

.buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.buttons a {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  width: 6.75rem;

  background-color: var(--green-400);
  color: var(--white);
  transition: background-color 0.2s ease-in-out;
}

.buttons a:hover {
  background-color: var(--green-300);
}
