.customInput {
  width: 100%;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1.5px solid #ededed;

  color: var(--base-input-color);
  background-color: var(--base-input);

  font-size: 0.875rem;
  transition: border-color 0.2s ease-in-out;
}

.customInput:focus {
  border-color: var(--green-300);
}
