.dialogOverlay {
  position: fixed;
  inset: 0;
  background-color: var(--green-100);
  opacity: 0.9;
}

.dialogContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 32rem;
  max-width: 90vw;
  height: fit-content;
  background-color: var(--base-card);
  border-radius: 6px;
  padding: 1.5rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dialogTitle {
  font-size: 1.75rem;
}

.closeButton {
  position: absolute;
  top: 1.625rem;
  right: 1.25rem;
  width: 2.25rem;
  height: 2.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
  border: none;
  cursor: pointer;
  color: var(--green-400);
  border-radius: 100%;
  transition: all 0.125s ease-in-out;
}

.closeButton:hover {
  color: var(--warning);
  background-color: var(--base-input);
}

.dialogContent > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
