.dialogOverlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(206, 226, 210, 0.9);
}

.dialogContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 32rem;
  max-width: 90vw;
  height: fit-content;
  background-color: var(--base-card);
  border-radius: 6px;
  padding: 1.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.dialogTitle {
  font-size: 1.75rem;
  line-height: 1;
}

.closeButton {
  position: absolute;
  top: 1.625rem;
  right: 1.25rem;
  width: 2.25rem;
  height: 2.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
  border: none;
  cursor: pointer;
  color: var(--green-400);
  border-radius: 100%;
  transition: all 0.125s ease-in-out;
}

.closeButton:hover {
  color: var(--warning);
  background-color: var(--base-input);
}

.dialogContent > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.dialogDescription {
  line-height: 1;
  margin: 0.5rem 0 1rem;
}

@media screen and (max-width: 32rem) {
  .dialogTitle {
    font-size: 1.25rem;
  }

  .dialogDescription {
    font-size: 0.75rem;
  }

  .closeButton {
    top: 1rem;
    right: 1rem;
  }

  .closeButton > svg {
    width: 1rem;
    height: 1rem;
  }
}
