.button {
  cursor: pointer;

  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  width: fit-content;

  text-transform: uppercase;
  text-align: center;
  font-size: 0.875rem;

  color: var(--white);
  background-color: var(--green-400);
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--green-300);
}

.dialogOverlay {
  position: fixed;
  inset: 0;
  background-color: var(--green-100);
  opacity: 0.9;
}

.dialogContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32rem;
  max-width: 90vw;
  height: fit-content;

  background-color: var(--base-card);
  border-radius: 6px;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dialogContent > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.dialogContent > form > input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1.5px solid #ededed;

  color: var(--base-input-color);
  background-color: var(--base-input);

  font-size: 0.875rem;
  transition: border-color 0.2s ease-in-out;
}

.dialogContent > form > input:focus {
  border-color: var(--green-300);
}

.dialogContent > form > button {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;

  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  width: 100%;
  background-color: var(--green-400);
  color: var(--white);
  transition: background-color 0.2s ease-in-out;
}

.dialogContent > form > button:hover {
  background-color: var(--green-300);
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--green-400);
  width: 36px;
  height: 36px;
  border-radius: 100%;
  transition: all 0.125s ease-in-out;
  position: absolute;
  top: 20px;
  right: 20px;
}

.closeButton:hover {
  color: var(--warning);
  background-color: var(--base-input);
}

.dialogTitle {
  font-size: 1.75rem;
}
