.listCard {
  cursor: pointer;
  background-color: var(--base-card);

  width: 30rem;
  max-width: 80vw;
  height: 100px;
  padding: 1rem;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listCard > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listCard > header > h3 {
  font-size: 1.25rem;
}

.listCard > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.listCard > div > p {
  font-size: 1rem;
  width: 90%;

  max-height: calc(1.6 * 1rem);

  overflow: hidden;
  text-overflow: ellipsis;

  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.trashIconContainer, .shareIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 2px;
  border-radius: 4px;
  transition: background-color 0.125s ease-in-out;
}

.trashIconContainer:hover, .shareIconContainer:hover {
  background-color: #dedede;
}

.trashIconContainer > svg, .shareIconContainer > svg {
  color: var(--green-400);
  transition: color 0.125s ease-in-out;
}

.trashIconContainer:hover > svg {
  color: var(--warning);
}

.shareIconContainer {
  padding: 4px;
}

.shareIconContainer:hover > svg {
  color: var(--green-200);
}
