.header {
  background-color: var(--green-100);
  width: 100%;
}

.contentContainer {
  width: 100%;
  max-width: 1000px;
  padding: 0.5rem 1.5rem;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userPopoverHidden {
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.625rem;
  height: 2.625rem;
}

.logo > img {
  width: 100%;
  height: 100%;
}
