:root {
  /* REMEMBER -> remove unused variables */
  --white: #ffffff;

  --green-100: #cee2d2;
  --green-200: #74ad8a;
  --green-300: #568a6e;
  --green-400: #043c2c;

  --base-card: #f3f2f2;
  --base-input: #ededed;
  --base-input-color: #8d8686;
  --warning: #E1110A;
  --gray: #aca4a4;

  --normal-title: 700;
  --bold-title: 800;

  --normal-text: 400;
  --bold-text: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: 0;
  box-shadow: none;
}

/* ::selection {
  background-color: var(--green-300);
  color: var(--green-100);
} */

body {
  background-color: var(--white);
  color: var(--green-400);
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font: var(--normal-title) 2rem 'Baloo 2', cursive;
}

body, input, textarea, button {
  font: var(--normal-text) 1rem / 1.6 'Roboto', sans-serif;
}
